.navigation {
    display: flex;
    background-color: $cogipColor;
    
    .container {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
    }

    &__logo {
        margin: auto 0;
    }
    
    &__dropdown-icon {
        color: $absoluteWhite;
        font-size: 2.5rem;
        cursor: pointer;
        transition: transform 0.2s ease-out;
    }
}

.welcome-bar {
    background-color: $validColor;
    padding: .5rem 0;

    &__message {
        text-align: center;
        color: $absoluteWhite;
        font-size: .9rem;
        width: 90%;
        margin: 0 auto;
    }
}

.dropdown-menu {
    background-color: $absoluteWhite;
    overflow: hidden;
    transition: height 0.2s ease-out;
    height: 0px;
    &__navlinks {
        &__elt {
            &__link {
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                font-weight: 500;
                color: $cogipColor;
                font-size: .9rem;
                padding: .75rem 0;
                cursor: pointer;
            }
            border-bottom: 3px solid $backgroundColor;
        }
    }
}
