body {
    min-height: 100vh;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;

    main {
        display: flex;
    }

    .guest {
        min-height: 100vh;
    }

    .main {
        flex-direction: column;
    }

    .auth-content {
        margin: auto;
    }

    .container {
        margin: 0 auto;
        width: 90%;
        max-width: 1600px;
    }

    a {
        display: inline-block;
    }

    button {
        cursor: pointer;
    }

    .hidden {
        display: none;
    }

    .footer {
        margin-top: auto;
        padding: 1.5rem 0;
        text-align: center;
    }
}
