body {
    min-height: 100vh;
    background-color: $backgroundColor;

    main {
        display: flex;
    }

    section {
        margin: auto;
    }

    a {
        display: inline-block;
    }

    .hidden {
        display: none;
    }
}
