// COLORS
$backgroundColor: rgb(243, 244, 246);
$cogipColor: rgb(31, 41, 55);
$activeBtnColor: rgb(55 65 81);;
$absoluteWhite: rgb(255, 255, 255);
$activeNavLinkColor: rgb(156 163 175);
$validColor: rgb(21 128 61);
$invalidColor: rgb(220 38 38);
// FONTS
$main-font: 'Roboto', sans-serif;;
